body{
    background-color: black;
}
.h1{
    text-align: center;
    color: white;
}
.div{
    text-align: center;
}
.p{
    text-align: center;
    color: white;
}
.div2{
    text-align: center;
}